<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brawl Stars Store</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/brawler.css">
    <link rel="stylesheet" href="css/oferta.css">
    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/brawl-stars-icone.jpg" type="image/x-icon">
    
    <script src="data/brawlers.js"></script>
    <script src="data/ofertasDiarias.js"></script>
</head>
<body>
    <div id="loja">

        <div class="capa">
            <img class="logo" src="assets/img/brawl-stars-logo.png">
        </div>

        <div class="loja">
            <div class="titulo">
                <span >{{titulo}}</span>
            </div>
            <div class="moedas"> 
                <div class="moeda">
                    <img src="assets/img/moeda.png" >
                    <span>{{moedas.moeda}}</span>
                </div>
                <div class="moeda">
                    <img src="assets/img/gema.png" >
                    <span>{{moedas.gema}}</span>
                </div>
            </div>
            <div class="itens">
                <div class="meusBrawlers">
                    <div class="titulo"> 
                        <span > MEUS BRAWLERS  </span>
                    </div>
                    <div class="brawlers">
                        <brawler  v-for="brawler in brawlers" :key="brawler.id" :trofeus="brawler.trofeus" :progresso-trofeus="brawler.progressoTrofeus" :imagem="brawler.imagem" :poder="brawler.poder"  :pontos-poder="brawler.pontosPoder" :total-pontos-poder="brawler.totalPontosPoder"></brawler>
                    </div>

                </div>

                <div class="ofertasDiarias">
                    <div class="titulo"> 
                        <span >  OFERTAS DIÁRIAS  </span>
                    </div>
                    <div class="ofertas">
                        <oferta title="Clique para comprar" v-for="oferta in ofertasDiarias"  :key="oferta.id" @comprar='comprar(oferta)' :pontos-poder="oferta.pontosPoder" :imagem='oferta.imagem' :nome='oferta.nome' :valor='oferta.valor' :moeda="oferta.moeda"></oferta>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="components/brawler.js"></script>
    <script src="components/oferta.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html>

<!-- http://www.howtocreate.co.uk/tutorials/css/slopes -->