.capa{
    max-width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/img/brawl-stars-capa.jpg');
}

.logo{
    width: 25%;
    align-self: start;
    object-fit: scale-down;
    margin-top: 16px;

}

.loja{
    padding: 16px;
    height: auto;
    background-image: radial-gradient(circle, #305DA0, #21359A)
}

.loja .titulo{
    text-align: center;
    width: 100%;
    font-size: 30pt;
    color: white;
}

.loja .moedas{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding-top: 36px ;
    padding-right: 36px;
}

.loja .moedas .moeda{
    width: 100px;
    height: 36px;
    display: flex;
    align-items: center;
    background: black;
    justify-content: space-evenly;
}

 .moeda + .moeda{
    margin-left: 5px;
}

.loja .moedas img{
    width: 32px;
    height: 32px;
    margin-right: 3px;
}

.loja .moedas .moeda span{
    color: white;
    font-size: 16pt;
}

.loja .itens{
    display: flex;
    justify-content: space-between;
    padding: 36px;
}

.loja .meusBrawlers, .loja .ofertasDiarias{
    width: 40%;
    flex-direction: column;
    text-align: center;
    border: 3px solid black;
}

.loja .ofertasDiarias{
    width: 55%;
}


.loja .meusBrawlers .titulo , .loja .ofertasDiarias .titulo{
    color: white;
    font-size: 30pt;
}
.loja .meusBrawlers .titulo{
    width: 100%;
    background-color: #365BE3;
}

.loja .ofertasDiarias .titulo{
    width: 100%;
    background-color: #A100D7;
}

.loja .brawlers, .loja .ofertas{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.loja .ofertasDiarias .ofertas{
    justify-content: space-around;
}

